@import '../../variables.scss';
@import '../../fonts.scss';

.landingPage {
  footer {
    background: linear-gradient(256deg, rgba(17, 17, 17, 0.9) 0%, #000 100%);
    display: flex;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: $breakpoint-laptop) {
      background: linear-gradient(
        155deg,
        #000 33.85%,
        rgba(17, 17, 17, 0.9) 100%
      );
    }

    > .footer_container {
      padding: 45px 15px;
      display: flex;
      flex-direction: column;
      gap: 45px;
      position: relative;
      overflow: hidden;
      max-width: 1440px;
      box-sizing: border-box;

      @media screen and (min-width: $breakpoint-laptop) {
        padding: 45px;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      > div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 45px;
        z-index: 2;

        @media screen and (min-width: $breakpoint-laptop) {
          order: 1;
          align-items: end;
          gap: 30px;
        }

        > ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 20px;
          width: 280px;

          @media screen and (min-width: $breakpoint-laptop) {
            flex-direction: row;
            align-items: start;
            width: auto;
            gap: 45px;
          }

          > li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            @media screen and (min-width: $breakpoint-laptop) {
              align-items: start;
            }

            > a {
              @include lead;
              text-decoration: none;
              color: $secondary-white;
              white-space: nowrap;

              @media screen and (min-width: $breakpoint-laptop) {
                @include lead;
              }
            }

            > a:nth-of-type(2),
            a:nth-of-type(3) {
              @include link;
              color: $secondary-gray;
            }
          }

          .line {
            height: 1px;
            width: 100%;
            background-color: $secondary-gray-dark;

            @media screen and (min-width: $breakpoint-laptop) {
              display: none;
            }
          }
        }

        > div {
          display: flex;
          gap: 20px;
        }
      }

      > div:last-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        z-index: 2;

        @media screen and (min-width: $breakpoint-laptop) {
          align-items: start;
        }

        > p {
          @include info-regular;
          color: $secondary-gray;
        }

        > span {
          @include info-regular;
          color: $secondary-white;
        }
      }

      > span.line {
        position: absolute;
        width: 50px;
        height: 100%;
        background-color: $secondary-gray-dark;
        transform: rotateZ(-45deg);
        bottom: -200px;

        @media screen and (min-width: $breakpoint-laptop) {
          height: 250%;
          width: 150px;
          bottom: -200px;
        }

        &:nth-of-type(1) {
          left: -100px;

          @media screen and (min-width: $breakpoint-laptop) {
            left: -100px;
          }
        }

        &:nth-of-type(2) {
          left: 10px;

          @media screen and (min-width: $breakpoint-laptop) {
            left: 200px;
          }
        }

        &:last-of-type {
          left: 130px;

          @media screen and (min-width: $breakpoint-laptop) {
            left: 500px;
          }
        }
      }
    }
  }
}
