.landingPage {
  .statistics {
    width: 100%;
    max-width: 1440px;
    padding: 100px 15px 0 15px;
    box-sizing: border-box;

    @media screen and (min-width: $breakpoint-mobile) {
      padding: 50px 15px 0 15px;
    }

    @media screen and (min-width: $breakpoint-laptop) {
      padding: 200px 90px 0 90px;
    }

    > div.container {
      background-color: $secondary-dark;
      border-radius: 60px;
      padding: 45px 15px;
      display: flex;
      flex-direction: column;
      gap: 45px;
      position: relative;
      overflow: hidden;

      @media screen and (min-width: $breakpoint-tablet) {
        padding: 50px 60px;
      }

      @media screen and (min-width: $breakpoint-laptop) {
        flex-direction: row;
        align-items: center;
        padding: 80px 90px;
      }

      > h2 {
        color: $secondary-white;
        line-height: 130%;
        z-index: 2;
        max-width: 500px;
        @include title-regular;

        @media screen and (min-width: $breakpoint-laptop) {
          @include head;
        }
      }

      > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        z-index: 2;

        @media screen and (min-width: $breakpoint-tablet) {
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: 10px;
        }

        > div {
          display: flex;
          gap: 8px;
          padding: 10px;

          > svg {
            height: 20px;
            width: 20px;
          }

          > div {
            display: flex;
            flex-direction: column;
            gap: 4px;

            > h4 {
              @include paragraph-regular;
              color: $secondary-gray;
            }

            > span {
              @include title-regular;
              color: $primary-yellow;
            }
          }
        }
      }

      > .line {
        background-color: $secondary-gray-dark;
        height: 50px;
        width: 700px;
        position: absolute;
        transform: rotateZ(45deg);
        bottom: 130px;
        left: -130px;
      }

      .line:nth-of-type(2) {
        left: -240px;
      }

      .line:last-of-type {
        left: -350px;
      }
    }
  }
}
