@import '../variables.scss';
@import '../fonts.scss';

.dashboard {
  section.card_premium {
    height: 160px;
    width: 100%;
    background: linear-gradient(
      271.41deg,
      rgba(0, 0, 0, 0.94) 0.24%,
      rgba(0, 0, 0, 0.85) 55.37%,
      #000000 98.24%
    );
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    color: #fff;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: $breakpoint-mobile) {
      height: 250px;
    }

    > div {
      box-sizing: border-box;
      height: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media screen and (min-width: $breakpoint-mobile) {
        padding: 50px 30px;
      }

      > div {
        z-index: 5;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media screen and (min-width: $breakpoint-mobile) {
          gap: 8px;
        }

        > h2 {
          @include subtitle;

          @media screen and (min-width: $breakpoint-mobile) {
            @include title-regular;
          }
        }

        > p {
          @include info-semi-bold;
          width: 160px;

          @media screen and (min-width: $breakpoint-mobile) {
            @include paragraph-medium;
            width: auto;
          }
        }
      }
    }

    .line {
      background-color: $secondary-gray-dark;
      width: 80px;
      height: 200%;
      position: absolute;
      top: 0;
      transform: rotateZ(45deg);
      top: -50%;
    }

    > .first_line {
      @extend .line;
      right: -25px;
    }

    > .second_line {
      @extend .line;
      right: 120px;
    }

    > .third_line {
      @extend .line;
      right: 270px;
    }

    > img {
      position: absolute;
      top: -75px;
      right: 0;
      height: 300px;
      width: 250px;
      z-index: 2;

      @media screen and (min-width: $breakpoint-mobile) {
        top: -160px;
        right: 50px;
      }
    }
  }

  .grid_courses {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 500px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $breakpoint-tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .activity_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .scrollable {
    overflow: scroll;

    .articles_container {
      display: flex;
      gap: 15px;
      min-width: 100%;
    }
  }
}
