@import '../variables.scss';
@import '../fonts.scss';

.list_page_content {
  .list_cards {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (min-width: 500px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $breakpoint-tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .desktop_filter {
    display: none;
    @media screen and (min-width: $breakpoint-laptop) {
      display: flex;
      grid-column: 5/7;
    }
  }
}
