@import '../variables.scss';
@import '../fonts.module.scss';

.button {
  background: $primary-yellow;
  border-radius: 10px;
  border: 0px;
  color: #fff;
  width: fit-content;
}

.sm {
  @extend .button;
  @extend .paragraph_semi_bold !optional;
  height: 40px;
  padding: 0 30px;
}

.md {
  @extend .button;
  @extend .link !optional;
  height: 48px;
  padding: 0 40px;
}

.lg {
  @extend .button;
  @extend .subtitle_straight !optional;
  height: 56px;
  padding: 0 50px;
}
