@import '../variables.scss';

.card_container {
  display: grid;
  gap: 30px;
  max-width: 1660px;
  margin-left: auto;
  margin-right: auto;

  .row {
    display: flex;
    gap: 30px;

    @media screen and (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
