@import '../fonts.scss';
@import '../variables.scss';

.competition_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  > div:first-of-type {
    display: flex;
    gap: 5px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #80017f;
      max-height: 20px;
      max-width: 20px;
      box-sizing: border-box;
      padding: 3px;
      border-radius: 100%;
    }

    > span {
      @include paragraph-semi-bold;
    }
  }

  > div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: end;

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;

      li {
        display: flex;
        align-items: center;
        gap: 5px;

        img,
        svg {
          height: 16px;
          width: 16px;
        }

        > span {
          @include info-regular;
        }
      }
    }

    span.countdown {
      @include paragraph-medium;
      height: 40px;
      width: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 40px;
      border: 1px solid $secondary-gray-light;
    }
  }
}
