@import '../variables.scss';
@import '../fonts.module.scss';

.FormField {
  position: relative;
  padding-top: 8px;

  label {
    @extend .paragraph_medium;
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 5px;
    color: $secondary-gray;
  }

  input {
    @extend .paragraph_medium;
    height: 60px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid $secondary-gray;
    padding: 0 20px;
    box-sizing: border-box;
    background: transparent;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
    }
  }
}
