@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;700;900&family=Lora:wght@400;500;600;700&display=swap');

@mixin head {
  font-size: 48px;
  font-weight: 400;
  font-family: 'Lora', serif;
}

@mixin title-semi-bold {
  font-size: 36px;
  font-weight: 600;
  font-family: 'Lora', serif;
}

@mixin title-regular {
  font-size: 36px;
  font-weight: 400;
  font-family: 'Lora', serif;
}

@mixin subtitle {
  font-size: 24px;
  font-family: 'Lora', sans-serif;
}

@mixin subtitle-straight {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

@mixin label-semi-bold {
  font-size: 20px;
  font-family: 'Lora', sans-serif;
}

@mixin lead {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

@mixin link {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

@mixin paragraph-regular {
  font-size: 16px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

@mixin paragraph-medium {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

@mixin paragraph-semi-bold {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

@mixin info-semi-bold {
  font-size: 12px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

@mixin info-regular {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}
