.teststst {
  color: blue
}

.signupFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signupForm {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.formLabel {
  margin-bottom: 10px;
  font-weight: bold;
}

.formInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formButton {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #45a049;
}

.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.formLabel {
  margin-bottom: 10px;
  font-weight: bold;
}

.formInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formButton {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formButton:hover {
  background-color: #45a049;
}
