/* Color Primary */
$primary-yellow: #b18b36;

/* Color Secondary */
$secondary-white: #f1f1f1;
$secondary-gray-light: #f1f1f1;
$secondary-gray-light2: #d9d9d9;
$secondary-gray: #989595;
$secondary-gray-dark: #252525;
$secondary-dark: #111;

/* Color Tags */
$tag-red: #ff6868;

/* Color instruments */
$instrument-dark-violet: #80017f;

/* Responsive Breakpoint */
$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1500px;
