/* Color Primary */
$primary-yellow: #b18b36;

/* Color Secondary */
$secondary-white: #f1f1f1;
$secondary-gray: #989595;
$secondary-gray: #252525;
$secondary-dark: #111;

/* Responsive Breakpoint */
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;
