/* Color Primary */
$primary-yellow: #b18b36;

/* Color Secondary */
$secondary-white: #f1f1f1;
$secondary-gray-light: #f1f1f1;
$secondary-gray-light2: #d9d9d9;
$secondary-gray: #989595;
$secondary-gray-dark: #252525;
$secondary-dark: #111;

/* Color Tags */
$tag-green: #89e07b;
$tag-orange: #ffa768;
$tag-red: #ff6868;

/* Color instruments */
$instrument-color-piano: #80017f;
$instrument-color-cello: #2e3498;
$instrument-color-violin: #8db9de;
$instrument-color-viola: #ff6500;
$instrument-color-voice: #830300;
$instrument-color-trombone: #fd0000;
$instrument-color-oboe: #ffcc00;
$instrument-color-flute: #d862d7;
$instrument-color-clarinet: #0a940a;
$instrument-color-chamber-music: #c2466b;

.piano {
  background-color: $instrument-color-piano;
}

.cello {
  background-color: $instrument-color-cello;
}

.violin {
  background-color: $instrument-color-violin;
}

.viola {
  background-color: $instrument-color-viola;
}

.voice {
  background-color: $instrument-color-voice;
}

.trombone {
  background-color: $instrument-color-trombone;
}

.oboe {
  background-color: $instrument-color-oboe;
}

.flute {
  background-color: $instrument-color-flute;
}

.clarinet {
  background-color: $instrument-color-clarinet;
}

.chamber-music {
  background-color: $instrument-color-chamber-music;
}

.text {
  background-color: $secondary-gray;
  padding: 5px 10px;
}

.easy {
  background-color: $tag-green;
  padding: 2px 10px;
}

.medium {
  background-color: $tag-orange;
  padding: 2px 10px;
}

.hard {
  background-color: $tag-red;
  padding: 2px 10px;
}

/* Shadows */
$shadow-md: 0px 4px 6px 0px rgba(0, 0, 0, 0.12);

/* Responsive Breakpoint */
$breakpoint-mobile: 425px;
$breakpoint-tablet: 775px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1500px;
