@import '../../variables.scss';
@import '../../fonts.scss';

.activity_card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid $secondary-gray-light;
  padding: 10px;
  border-radius: 10px;
  text-decoration: unset;
  color: $secondary-dark;

  > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 5px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #80017f;
      height: 20px;
      width: 20px;
      padding: 3px;
      box-sizing: border-box;
      border-radius: 100%;
    }

    > span {
      @include paragraph-semi-bold;
    }
  }

  > p {
    @include info-regular;
  }

  > .attendees {
    > span {
      @include info-semi-bold;
    }
  }
}
