@import '../../variables.scss';
@import '../../fonts.scss';

.group_card {
  display: flex;
  gap: 5px;
  width: unset;
  text-decoration: unset;
  color: $secondary-dark;

  @media screen and (min-width: $breakpoint-mobile) {
    flex-direction: column;
  }

  > .thumbnail {
    min-width: 100px;
    min-height: fit-content;
    background-color: #f0f;
    border-radius: 10px;
    position: relative;

    @media screen and (min-width: $breakpoint-mobile) {
      aspect-ratio: 16 / 10;
    }

    > div:first-of-type {
      display: none;

      @media screen and (min-width: $breakpoint-mobile) {
        display: flex;
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }

  > .description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media screen and (min-width: $breakpoint-mobile) {
      flex-direction: row;
      justify-content: space-between;
    }

    > div:first-of-type {
      display: flex;
      flex-direction: column;
      gap: 3px;

      > div {
        display: flex;
        align-items: center;
        gap: 5px;

        > div {
          @media screen and (min-width: $breakpoint-mobile) {
            display: none;
          }

          > svg {
            width: 12px;
          }
        }

        > span {
          @include paragraph-semi-bold;
        }
      }

      > span {
        @include info-regular;
        padding-bottom: 5px;
        @media screen and (min-width: $breakpoint-mobile) {
          padding-bottom: 0;
        }
      }
    }

    > div:last-of-type {
      display: flex;
      align-items: center;
      gap: 3px;

      > span:first-of-type {
        @include info-regular;
      }
    }
  }

  > svg {
    @include info-semi-bold;
    height: 55px;
    width: 55px;
    display: flex;
    align-self: center;
    margin-left: auto;

    @media screen and (min-width: $breakpoint-mobile) {
      display: none;
    }
  }
}
