@import '../../fonts.scss';
@import '../../variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  position: relative;

  > div:first-of-type {
    display: flex;
    align-items: center;
    gap: 20px;

    > span {
      height: 30px;
      width: 1px;
      border-right: 1px solid var(--secondary-gray-light, #f1f1f1);
      box-shadow: 4px 0px 2px 0px rgba(0, 0, 0, 0.25);
    }

    > h1 {
      @include lead;

      @media screen and (min-width: $breakpoint-mobile) {
        @include subtitle;
      }
    }
  }

  > div.button_container {
    display: flex;
    gap: 20px;

    > button {
      border: 0;
      height: 40px;
      width: 40px;
      border-radius: 100%;
    }

    > button.notifications {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > button.profil {
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(https://media.licdn.com/dms/image/C5603AQH-1t3214NLWQ/profile-displayphoto-shrink_800_800/0/1633294035268?e=2147483647&v=beta&t=XplGvjScMgBFCp0XC3zyVfBWMl38L4wMvOSpn8in6N0);
    }
  }
}
