@import '../../variables.scss';

.layout {
  display: flex;

  @media screen and (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 220px 1fr;
  }

  .main {
    min-height: 100vh;
    background-color: $secondary-gray-light;
    padding: 15px 15px 90px 15px;
    width: 100%;

    @media screen and (min-width: $breakpoint-tablet) {
      box-sizing: border-box;
      padding: 30px 40px;
      grid-column: 2;
      border-radius: 20px 0 0 20px;
    }
  }
}
