@import '../../fonts.scss';
@import '../../variables.scss';

.course_page {
  .header {
    display: flex;
    flex-direction: column;
    grid-column: 1/7;
    gap: 30px;

    > h2 {
      @include subtitle;
      grid-column: 1/7;
    }

    > button {
      grid-row: 6/7;
      align-self: flex-end;
    }
  }

  .player {
    display: flex;
    flex-direction: column;
    gap: 15px;

    > div:first-of-type {
      display: flex;
      justify-content: space-between;

      > span:first-of-type {
        @include info-regular;
        color: $secondary-gray;
      }
    }

    > video {
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 20px;
      background-color: #f0f;
    }

    > div:last-of-type {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    > p {
      @include paragraph-regular;
    }

    > a {
      @include info-semi-bold;
      text-decoration: none;
      color: $primary-yellow;
    }
  }

  .future_knowledge {
    display: flex;
    flex-direction: column;
    gap: 15px;

    > li {
      display: flex;
      align-items: center;
      gap: 10px;

      > svg {
        height: 16px;
        width: 16px;
      }

      > span {
        @include info-regular;
      }
    }
  }
}
